/* Main Styling */

* {
	font-family: "ministry", "sans-serif";
}

p {
	font-weight: 100;
	font-variant: light;
}

header, footer {
	text-align: center;
	margin: 5% 19%;
}

h1, h2 {
	font-size: 5vw;
}

aside {
	width: 35%;
	padding: 1rem 2rem 3rem 3rem;
	color: white;
	text-shadow: -1px 1px 0px #000;
}

.family-banner {
	margin-bottom: 5px;
}

.intro {
	padding: 1em;
	padding-left: 0;
	text-shadow: 3px 3px 3px #000;
}

.btn {
    background-color: #fff;
    padding: .5em;
    color: black;
    text-decoration: none;
    text-shadow: none;
}

.btn:hover {
    background-color: #000;
    color: white;
}

.logos {
	width: 25%;
}

.logos:nth-of-type(2) {
    align-items: center;
    display: flex;
    padding-left: 5%;
}

.logos:nth-child(2) img {
    max-width: 130px;
}

.container {
	display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.container img {
	max-width: 100px;
}


.left-line {
	border-right: 1px solid black;
	align-content: right;
}

i {
	font-weight: 100;
	font-variant: light;
}

#strojny {
	background-image: url(assets/strojny-family-web.jpg);
	background-size: cover;
}

#grover {
	background-image: url(assets/grover-family-web.jpg);
	background-size: cover;
}

#sciortino {
	background-image: url(assets/sciortino-family-web.jpg);
	background-size: cover;
}

strong {
	font-size: 20px;
}

main {
	margin: 0 20% 10%;
}

.family-header {
	margin: 0 auto;
	text-align: left;
	padding-left: 50px;
	min-height: 400px;

}

.family-header h2 {
  padding-top: 50px;
  padding-left: 50px;
  margin-top: 0;
  color: white;
  font-size: 50px;
  width: 30%;
}

nav a {
	text-decoration: none;
	padding: 5px;
	color: black;
	font-weight: bold;
	padding-left: 20px;
}

/* Media Queries */

@media (max-width: 600px) {
	.logos {
		width: 50%;
		display: block;
	}

	h2 {
		font-size: 40px;
	}

	aside {
		width: 80%;
	}

	.family-header {
    padding-top: 0;
    padding-left: 0;
	}

  .family-header h2 {
    padding-left: 0;
    color: black;
    position: absolute;
    left: 20%;
    top: 425px;
    color: black;
    font-size: 2.75rem;
  }

  article {
    margin-top: 250px;
  }

  #grover.family-header {
	  background-position-x: -375px;
	}

  #sciortino.family-header {
	  background-position-x: -415px;
	}

  #strojny.family-header {
	  background-position-x: -575px;
	}
}

@media (min-width: 500px) and (max-width: 800px) {
  #grover.family-header {
    background-position-x: -185px;
  }

  #sciortino.family-header {
    background-position-x: -240px;
  }

  #strojny.family-header {
    background-position-x: -400px;
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  #grover.family-header {
    background-position-x: -75px;
  }

  #sciortino.family-header {
    background-position-x: -100px;
  }

  #strojny.family-header {
    background-position-x: -140px;
  }
}